.zzone-community-bbs {
  min-height: 700px;

  > .ant-tabs-bar {
    display: none;
  }

  > .ant-tabs-content > .ant-tabs-tabpane > .zzone-community-bbs-comment {

    > .zzone-community-bbs-comment-title {
      border-bottom: 1px solid #BBBDBF;
      font-size: 16px;
      padding-bottom: 2px;

      > span {
        margin-left: 5px;
      }
    }

    > .zzone-community-bbs-comment-list {
      background: #fafbfc;

      > .zzone-community-bbs-comment-row {
        position: relative;
        padding-left: 130px;
        border-bottom: 1px solid #E1E4E6;

        > .zzone-community-bbs-comment-avatar {
          position: absolute;
          top: 15px;
          left: 15px;
          width: 100px;
          height: 100px;
          background: gainsboro;
        }

        > .zzone-community-bbs-comment-username {
          position: absolute;
          left: 0px;
          top: 120px;
          width: 130px;
          text-align: center;
        }

        > .zzone-community-bbs-comment-content {
          background: white;
          min-height: 160px;
          padding: 10px;
          font-size: 14px;
        }
      }
    }

    > div.zzone-community-bbs-comment-form {
      background: #f3f3f3;
      padding: 20px;
    }

  }
}