
.zzone-register {

  padding-top: 170px;

  .zzone-register-bg {
    background-image: url('img/blue.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: -999;
  }

  .zzone-register-content {
    width: 300px;
    margin: 0 auto;

    .zzone-register-button {
      width: 100%;

    }

    .zzone-register-help {
      width: 150px;
      text-align: center;
      margin: 0 auto;

      > span {
        margin: 0 10px;
        font-size: 14px;
      }
    }
  }
}
