
$header-height: 50px;
$footer-height: 40px;

body{
  margin: 0;
  padding: 0;
}


.zzone-layout{
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #f7f7f7;
  overflow: auto;

  padding-top: $header-height;
  .zzone-layout-header{
    width: 100%;
    height: $header-height;
    line-height: $header-height;
    background: #404040;
    color: white;
    position: fixed;
    top: 0;

  }

  .zzone-layout-content{

  }

  .zzone-layout-footer{
    width: 100%;
    height: $footer-height;
    line-height: $footer-height;
    background: white;
    text-align: center;
  }

}
